* {
    /* min-width: 1440px; */
    margin: 0;
    padding: 0;
    font-family: Roboto;
    
    }
    
    .container {
    width:1280px ;
    margin: 0 auto;
    }



    
    .header__container {
    
        padding: 50px 74px 33px 76px;
        display: flex;
        justify-content: space-between;
    
    }
    
    
    .header__btnbasket{
    
        width: 115px;
        height: 38px;
        display: inline-block;
        position: relative;
        text-align: left;
        padding-left: 20px;
        border-radius: 100px;
        background:  #5222D0;
        color: #FFF;
        font-size: 13px;
        font-weight: 400;
    
    }
    
    .header__btnbasket::after {
    
        background:url(./img/ico.svg)  no-repeat;
        content: '';
        height: 100%;
        left:84px;
        position: absolute;
        width: 100%;
        z-index: 2;
    
    }
    

    
.possibility__wrapper {

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(260px, 430px));
    grid-template-rows: repeat(2, (259px));
}


.possibility__title {


    margin-bottom: 40px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 

}

.possibility__item_title {

    margin-bottom: 10px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;

}

.possibility__item_discr{

    width: 345px;
    color:  #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;

}



.possibility__item_six {

    width: 315px;
    height: 233px;
    padding: 20px 25px 20px ;
    background:  #EC615B;
}

.possibility_item_white {      

    color:  #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;

}

.possibility_item_email {
    padding: 0;
    margin: 0;
    width: 323px;
    height: 50px;
    color:  #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.possibility__item_subscribe{ 

    width: 135px;
    height: 38px;
    margin-top: 30px;
    background:  #5222D0;
    border-radius: 100px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;

    }
 
    .footer__list {
    
        display: flex;
        gap: 34px;
        padding: 50px 0;
    
    }
    
    .footer__link {
    
        text-decoration:none;
        margin-right: 34px;
        color: #000000;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }
    

  